$heading-font: "Raleway", sans-serif;
$body-font: "Lato", sans-serif;

h1 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;

  strong {
    font-weight: 700;
  }
}
